
.address-list{
	border-right: #999999 1px solid;
	overflow-x: auto;
}

.address-list ol{
	list-style: none;
	margin: 0;
	padding: 0;
	width: 100%;
}

.address-list li{
	border-bottom: #999999 1px dotted;
	padding: 5px;
	cursor: pointer;
}

.address-list li:hover, .address-list li.active{
	background: #f3f3f4;
}


.address-list li.search{
	padding: 10px 20px;
}

.address-list li.search:hover{
	background: none;
}


.address-list li:first-child{
	
}

.address-list p{
	margin: 0;
}

.address-list .sort{
	font-weight: bold;
}


.address-content{
	min-height: 800px;
}

.address-card{
	-webkit-animation-duration: 1s;
	-webkit-animation-delay: 0s;
	-webkit-animation-iteration-count: infinite;
	-moz-animation-duration: 1s;
	-moz-animation-delay: 0s;
	-moz-animation-iteration-count: infinite;
}

.address-card .favicon .fa{
	font-size: 30px;
} 
.address-card .warp{
	border: 1px solid #e5e6e7;
	background: #f3f3f4;
	padding: 30px;
	position: relative;
	min-height: 350px;
	margin-bottom: 30px
}

.address-card .label{
	font-size: 100%;
}

.address-card .remove{
	position: absolute;
	right: 10px;
	top: 10px;
	color: #333;
}

.address-card .edit{
	position: absolute;
	right: 25px;
	top: 10px;
	color: #333;
}

.address-card .person{
	margin-left: 50px;
}

.address-card .company{
	font-style: italic;
	color: #999999;
}

.address-card .name{
	font-size: 24px;
	color: #ef3434;
	font-weight: 100;
	line-height: 100%;
}

.address-card .company{
	color: #999999;
	font-style: italic;
}

.address-card .address{
	padding-left: 50px;
}

.address-card .contact, .address-card .person, .address-card .address{
	margin-bottom: 10px;
}

.address-card .www, .address-card .email{
	text-overflow: ellipsis;
  	-o-text-overflow: ellipsis;
  	white-space: nowrap;
  	overflow: hidden;
}

.address-card .data span{
	display: inline-block;
	width: 50px;
}

.address-card .tel, .address-card .tel, .address-card .tel{
	margin-bottom: 0;
}

@media (max-width: 1199px) and (min-width: 992px){
	.address-card .person, .address-card .address{
		margin-left: 0;
		padding-left: 0;
	}
}

@media (max-width: 1199px) and (min-width: 992px){
	.address-card .person, .address-card .address{
		margin-left: 0;
		padding-left: 0;
	}
}

@media (max-width: 1199px) and (min-width: 992px){
	.address-card .person, .address-card .address{
		margin-left: 0;
		padding-left: 0;
	}
}