.timeline .item {
    overflow: hidden;
    padding: 0 0 15px;
    margin: 0 0 15px;
    *zoom: 1;
}

.comment-img {
    float: left;
    margin-right: 50px;
    overflow: hidden;
}


.comment-body {
    overflow: hidden;
}

.timeline .item .text {
    padding: 10px;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    background: #fff;
}

.timeline .item .text p:last-child {
    margin: 0;
}

.timeline .item .meta {
    color: #BBB;
}

/* Decoration */

.timeline,
.timeline .item {
    position: relative;
}

.timeline:before,
.timeline .item:before,
.timeline .item .text:before {
    content: "";
    position: absolute;
    top: 0;
    left: 72px;
}

.timeline:before {
    width: 6px;
    top: -20px;
    bottom: -20px;
    background: rgba(0,0,0,0.1);
}

.timeline .item:before {
    width: 20px;
    height: 20px;
    border: 3px solid #fff;
    border-radius: 100px;
    margin: 12px 0 0 -7px;
    background: #ef3434;
}

.timeline .item:hover:before {
    background: #ef3434;
}

.timeline .item .text:before {
    top: 18px;
    left: 95px;
    width: 9px;
    height: 9px;
    border-width: 0 0 1px 1px;
    border-style: solid;
    border-color: #e5e5e5;
    background: #fff;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}